<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <header>
        <h1>Welcome to the Banking App</h1>
    </header>
    <main>
        <table>
            <br>
                <td><a href="/create-account">Create Account</a></td>
            </br>
            <br>
                <td><a href="/deposit">Deposit</a></td>
            </br>
            <br>
                <td><a href="/withdraw">Withdraw</a></td>
            </br>
            <br>
                <td style="text-align: center;"><a href="/delete-account">Delete Account</a></td>
            </br>
  
        </table>
    </main>
</body>
</html>
